<div class="contains">
    <div class="row control-block">
        <span>
            All Proposals
        </span>

        <button class="btn btn-outline-primary btn-sm" (click)="OpenCreateProposalModal()">Create</button>
    </div>
    <div class="row content-block">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th>Registerd By</th>
                    <th>Content</th>
                    <th>Group</th>
                    <th>Team</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Current Stage</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proposal of proposals, index as i">
                    <!-- <td>{{i+1}}</td> -->
                    <td>{{proposal.registerBy}}</td>
                    <td>{{proposal.contentProposal}}</td>
                    <td>{{proposal.hospitalDepartment}}</td>
                    <td>{{proposal.Group}}</td>
                    <td>{{proposal.startDate}}</td>
                    <td>{{proposal.endDate}}</td>
                    <td>{{proposal.currentProgressName}}</td>
                    <td>
                        <div class="table-actions">
                            <button class="btn btn-outline-primary btn-sm" (click)="OpenUpdateProgressModal()">Update</button>
                            <button class="btn btn-outline-danger btn-sm" >Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>